original financial data lack the date of 27/4

In [2]:
import yfinance as yf
from yahoo_fin import stock_info as si

In [3]:
df = yf.download("BTC-USD", start="2022-01-01", end="2022-06-30",interval='1h')

[*********************100%***********************]  1 of 1 completed

In [4]:
df

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-01-01 00:00:00+00:00,46311.746094,46726.558594,46288.484375,46726.558594,46726.558594,0
2022-01-01 01:00:00+00:00,46723.667969,46888.292969,46650.351562,46788.546875,46788.546875,56967168
2022-01-01 02:00:00+00:00,46798.843750,46914.199219,46792.679688,46830.488281,46830.488281,0
2022-01-01 03:00:00+00:00,46836.500000,46861.910156,46800.742188,46833.105469,46833.105469,0
2022-01-01 04:00:00+00:00,46831.148438,46878.140625,46703.164062,46778.796875,46778.796875,81956864
...,...,...,...,...,...,...
2022-06-29 19:00:00+00:00,20047.310547,20198.595703,20037.447266,20198.595703,20198.595703,0
2022-06-29 20:00:00+00:00,20207.066406,20355.212891,20147.673828,20166.099609,20166.099609,370528256
2022-06-29 21:00:00+00:00,20175.669922,20315.226562,20175.669922,20281.796875,20281.796875,74731520
2022-06-29 22:00:00+00:00,20281.054688,20301.333984,20163.611328,20214.726562,20214.726562,419184640
2022-06-29 23:00:00+00:00,20214.496094,20214.496094,20081.492188,20095.292969,20095.292969,0

In [11]:
import datetime
import pandas as pd
def timestamp_to_datetime(bitcoin_price):
    # transform the timestamp to datetime
    dt=[datetime.datetime.fromtimestamp(int(timestamp/1000)) for timestamp in bitcoin_price['Close time']]
    formatted_data=[date.strftime("%Y-%m-%d %H:%M:%S") for date in dt]
    bitcoin_price['Close time']=pd.DataFrame(formatted_data)
    bitcoin_price['Close time']=pd.to_datetime(bitcoin_price['Close time'])
    # transforme the open timestamp to datatime
    dt=[datetime.datetime.fromtimestamp(int(timestamp/1000)) for timestamp in bitcoin_price['Open time']]
    formatted_data=[date.strftime("%Y-%m-%d %H:%M:%S") for date in dt]
    bitcoin_price['Open time']=pd.DataFrame(formatted_data)
    bitcoin_price['Open time']=pd.to_datetime(bitcoin_price['Open time'])
    return bitcoin_price

In [16]:
columns_names=['Open time','Open','High','Low','Close','Volume','Close time','Quote asset volume','Number of trades','Taker buy base asset volume','Taker buy quote asset volume','Ignore']
data_4_27=pd.read_csv('./../data/Price/Processed_BTCUSDT/BTCUSDT-1h-2022-04-27.csv',names=columns_names)
data_4_27_trans=timestamp_to_datetime(data_4_27)

In [18]:
data_4_27.to_csv('./../data/Price/Processed_BTCUSDT/NEW_BTCUSDT-1h-2022-04-27.csv')