# Tweets Data Preprocessing

[Subsetting data](https://www.kaggle.com/code/roonat/subsetting-data-81c31d/edit)

This file is used to retrieve the tweet volume grouped by hourly datetime and apply the floor function to the datetime to obtain the rounded datetime.

In [2]:
import pandas as pd
import numpy as np

In [4]:
data_bit=pd.read_csv('./data/bitcoin-tweets-2022.csv')
data_bit.head(1000)

/var/folders/vp/8_rd4_c56g3dpqb1167z6tqr0000gn/T/ipykernel_24098/182864493.py:1: DtypeWarning: Columns (0,1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  data_bit=pd.read_csv('./data/bitcoin-tweets-2022.csv')

,datetime,date,username,text
0,2022-01-01 23:59:56+00:00,2022-01-01,priconoticias,0.4MOT TOKENS IN #LATOKEN airdrop and maybe m...
1,2022-01-01 23:59:53+00:00,2022-01-01,mmonlineonline,MARA for Bitcoin Exposure: Top Trade Q1 2022 h...
2,2022-01-01 23:59:43+00:00,2022-01-01,CoachKevinRose,Every Time the Bell Rings The Titano makes MON...
3,2022-01-01 23:59:35+00:00,2022-01-01,robert54177167,If your interested in losing money in 2022 kee...
4,2022-01-01 23:59:34+00:00,2022-01-01,WorldCoinIndex,Bitcoin price index https://t.co/o7UcHJUhC6 #U...
...,...,...,...,...
995,2022-01-01 23:02:39+00:00,2022-01-01,BotcoinUSD,on the 01/01/2022 at 11:02 1BTC was worth $473...
996,2022-01-01 23:02:37+00:00,2022-01-01,MLCLP,"If You Invested $1,000 In Bitcoin, Dogecoin An..."
997,2022-01-01 23:02:37+00:00,2022-01-01,clevercrypto7,I bloody forgot about the 1970s gold fractal. ...
998,2022-01-01 23:02:35+00:00,2022-01-01,JAG_Trader,$BTC weekly chart doesn't look bad to IMO. St...
999,2022-01-01 23:02:32+00:00,2022-01-01,WhaleWatchProx,Bitcoin Whale withdraws half a billion dollars...

In [5]:
data_bit['text']=data_bit['text'].str.replace('\"','\'')

In [6]:
# Assume "data_bit" is the Pandas DataFrame object
# Attempt to convert the "datetime" column to datetime type and capture conversion errors.
data_bit["datetime"] = pd.to_datetime(data_bit["datetime"], errors="coerce")

# Filter out the valid datetime
valid_rows = data_bit["datetime"].notnull()

# Only keep the valid columns
data_bit = data_bit[valid_rows]
# data_bit["date"] = pd.to_datetime(data_bit["date"]).dt.date

In [7]:
data_bit['datetime']=data_bit['datetime'].dt.floor('H')

In [8]:
data_bit['datetime'] = data_bit['datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [9]:
# get the tweets volume grouped by hourly datetime
tweets_volume=data_bit.groupby('datetime').count()
# drop the unuseful columns
tweets_volume=tweets_volume.drop(columns=["date","username"])

In [10]:
tweets_volume=tweets_volume["text"].rename("tweet_volume")

In [11]:
tweets_volume.head(10)

datetime
2022-01-01 00:00:00    1314
2022-01-01 01:00:00    1064
2022-01-01 02:00:00     986
2022-01-01 03:00:00     942
2022-01-01 04:00:00     832
2022-01-01 05:00:00     863
2022-01-01 06:00:00     749
2022-01-01 07:00:00     752
2022-01-01 08:00:00    1047
2022-01-01 09:00:00     867
Name: tweet_volume, dtype: int64

In [12]:
# tweets_volume.to_csv("tweets_volume.csv")

In [13]:
data_bit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7865899 entries, 0 to 9257420
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   datetime  object
 1   date      object
 2   username  object
 3   text      object
dtypes: object(4)
memory usage: 300.1+ MB

In [14]:
data_bit["date"] = pd.to_datetime(data_bit["date"]).dt.date

In [15]:
data_bit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7865899 entries, 0 to 9257420
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   datetime  object
 1   date      object
 2   username  object
 3   text      object
dtypes: object(4)
memory usage: 300.1+ MB

In [16]:
data_bit2=data_bit.drop(columns=['date'])

In [17]:
data_bit2.head(10)

,datetime,username,text
0,2022-01-01 23:00:00,priconoticias,0.4MOT TOKENS IN #LATOKEN airdrop and maybe m...
1,2022-01-01 23:00:00,mmonlineonline,MARA for Bitcoin Exposure: Top Trade Q1 2022 h...
2,2022-01-01 23:00:00,CoachKevinRose,Every Time the Bell Rings The Titano makes MON...
3,2022-01-01 23:00:00,robert54177167,If your interested in losing money in 2022 kee...
4,2022-01-01 23:00:00,WorldCoinIndex,Bitcoin price index https://t.co/o7UcHJUhC6 #U...
5,2022-01-01 23:00:00,CommodoreBTC,@JesseKellyDC Money is at the root of every in...
6,2022-01-01 23:00:00,Raybonthird,@nikitabier People want a basis of truth for t...
7,2022-01-01 23:00:00,jhamby,It means the opposite of what they want it to....
8,2022-01-01 23:00:00,AxolotolH,@SirPantsALot2 @fairguinevere @totallynotem_ @...
9,2022-01-01 23:00:00,nyan_lou618,BTC diamond reversal and expected volatility f...

In [18]:
#data_bit2.to_csv('tweets.csv',index=False)

In [19]:
data_bit2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7865899 entries, 0 to 9257420
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   datetime  object
 1   username  object
 2   text      object
dtypes: object(3)
memory usage: 240.0+ MB

In [20]:
users=data_bit.groupby('username').count()

In [21]:
users.sort_values(by="text",ascending=False)

                 datetime    date    text
username
cripto_informe     198778  198778  198778
sharky508          174995  174995  174995
BierwagenTrish     118287  118287  118287
bmurphypointman     66608   66608   66608
LivePriceCrypto     63060   63060   63060
...                   ...     ...     ...
PinguinXbt              1       1       1
PingvinSur              1       1       1
PinheiroMancha          1       1       1
Pink7Electric           1       1       1
Svetlan17627982         1       1       1

[1038412 rows x 3 columns]