# Data Merge

Data include Close prices, Google Trends, Tweets Sentiment Score, Reddit Sentiment Score

In [82]:
import numpy as np
import pandas as pd

In [83]:
reddit=pd.read_csv('./../data/Reddit/reddit_score.csv')
tweets=pd.read_csv('./../data/Twitter/tweets_score.csv')
trends=pd.read_csv('./../data/Google Trends/Trends_replace.csv')
tweets_volume=pd.read_csv('./../data/Twitter/tweets_volume.csv')

In [84]:
import datetime
from datetime import datetime
input_format = '%d/%m/%Y %H:%M'
tweets['datetime']=tweets['datetime'].apply(lambda x: datetime.strptime(x, input_format))
tweets['datetime']=pd.to_datetime(tweets['datetime'])
tweets.set_index('datetime', inplace=True)

In [85]:
display(tweets)

                     compound  polarity  subjectivity
datetime
2022-01-01 00:00:00  0.228459  0.127819      0.399377
2022-01-01 01:00:00  0.235804  0.115225      0.380319
2022-01-01 02:00:00  0.216377  0.094649      0.391375
2022-01-01 03:00:00  0.254585  0.124391      0.376654
2022-01-01 04:00:00  0.199023  0.106416      0.405293
...                       ...       ...           ...
2022-06-30 19:00:00  0.097033  0.062959      0.339059
2022-06-30 20:00:00  0.096938  0.049762      0.366837
2022-06-30 21:00:00  0.112159  0.054471      0.355057
2022-06-30 22:00:00  0.104823  0.061164      0.362953
2022-06-30 23:00:00  0.097806  0.061618      0.358823

[4318 rows x 3 columns]

In [86]:
display(reddit)

                 datetime  datetime.1  compound  polarity  subjectivity
0     2022-01-01 00:00:00         NaN  0.806147  0.106285      0.464971
1     2022-01-01 01:00:00         NaN  0.523754  0.165466      0.469433
2     2022-01-01 02:00:00         NaN  0.404721 -0.003025      0.499500
3     2022-01-01 03:00:00         NaN  0.307653  0.129557      0.461581
4     2022-01-01 04:00:00         NaN  0.682042  0.108311      0.422146
...                   ...         ...       ...       ...           ...
4280  2022-12-06 19:00:00         NaN  0.703480  0.051935      0.462542
4281  2022-12-06 20:00:00         NaN  0.485330  0.115246      0.355653
4282  2022-12-06 21:00:00         NaN  0.744573  0.199926      0.507846
4283  2022-12-06 22:00:00         NaN  0.429923  0.110657      0.342307
4284  2022-12-06 23:00:00         NaN  0.897618  0.121964      0.403639

[4285 rows x 5 columns]

In [96]:
input_format2='%Y-%m-%d %H:%M'
# input_format3='%d/%m/%Y %H:%M'
reddit['datetime']=reddit['datetime'].apply(lambda x: datetime.strptime(x, input_format2))
reddit['datetime']=pd.to_datetime(reddit['datetime'])
reddit.set_index('datetime',inplace=True)

KeyError: 'datetime'

In [97]:
reddit

                     datetime.1  re_compound  re_polarity  re_subjectivity
datetime
2022-01-01 00:00:00         NaN     0.806147     0.106285         0.464971
2022-01-01 01:00:00         NaN     0.523754     0.165466         0.469433
2022-01-01 02:00:00         NaN     0.404721    -0.003025         0.499500
2022-01-01 03:00:00         NaN     0.307653     0.129557         0.461581
2022-01-01 04:00:00         NaN     0.682042     0.108311         0.422146
...                         ...          ...          ...              ...
2022-12-06 19:00:00         NaN     0.703480     0.051935         0.462542
2022-12-06 20:00:00         NaN     0.485330     0.115246         0.355653
2022-12-06 21:00:00         NaN     0.744573     0.199926         0.507846
2022-12-06 22:00:00         NaN     0.429923     0.110657         0.342307
2022-12-06 23:00:00         NaN     0.897618     0.121964         0.403639

[4285 rows x 4 columns]

In [89]:
# Tweets datetime
tweets_volume['datetime']=pd.to_datetime(tweets_volume['datetime'])
tweets_volume.set_index('datetime',inplace=True)
tweets_volume

                     tweet_volume
datetime
2022-01-01 00:00:00          1314
2022-01-01 01:00:00          1064
2022-01-01 02:00:00           986
2022-01-01 03:00:00           942
2022-01-01 04:00:00           832
...                           ...
2022-06-30 19:00:00          2032
2022-06-30 20:00:00          2225
2022-06-30 21:00:00          2159
2022-06-30 22:00:00          1948
2022-06-30 23:00:00          1803

[4318 rows x 1 columns]

In [90]:
trends['date']=pd.to_datetime(trends['date'])
sub_trends=trends[trends['date'].dt.month!=12][:-1]
sub_trends.set_index('date',inplace=True)
sub_trends.rename(columns={'Scaled Value':'google_trends'},inplace=True)
sub_trends.rename_axis('datetime')

                     google_trends  Bitcoin trend
datetime
2022-01-01 00:00:00      74.000000      19.839923
2022-01-01 01:00:00      79.162791      21.224103
2022-01-01 02:00:00      77.441860      20.762710
2022-01-01 03:00:00      61.953488      16.610168
2022-01-01 04:00:00      65.395349      17.532955
...                            ...            ...
2022-06-30 19:00:00     121.875476      32.675676
2022-06-30 20:00:00     127.117432      34.081081
2022-06-30 21:00:00     129.738410      34.783784
2022-06-30 22:00:00     131.048899      35.135135
2022-06-30 23:00:00     111.391564      29.864865

[4344 rows x 2 columns]

In [91]:
tweets.rename(columns={'compound': 'tw_compound',
               'polarity': 'tw_polarity',
               'subjectivity': 'tw_subjectivity'}, inplace=True)
reddit.rename(columns={'compound': 're_compound',
               'polarity': 're_polarity',
               'subjectivity': 're_subjectivity'}, inplace=True)

In [92]:
import os
merge_data=pd.DataFrame()
folder_path='./../data/Price/Processed_BTCUSDT'
for filename in os.listdir(folder_path):
    if filename.endswith(".csv"):
        if filename.endswith("27.csv"):
            price=pd.read_csv(os.path.join(folder_path, filename))
            price['Open time']=price['Open time'].apply(lambda x: datetime.strptime(x, input_format))
        else:
            price=pd.read_csv(os.path.join(folder_path, filename))
        columns_keep=['Open time','Open','High','Low','Close','Volume']
        columns_delete=list(price.columns.values)
        for keep in columns_keep:
            columns_delete.remove(keep)
        price.drop(columns_delete,axis=1, inplace=True)
        merge_data=pd.concat([merge_data, price])

In [93]:
display(merge_data)

               Open time     Open     High      Low    Close     Volume
0    2022-04-27 01:00:00  38093.7  38243.2  37844.5  38152.6  12325.045
1    2022-04-27 02:00:00  38152.7  38300.0  38140.8  38289.0   7252.431
2    2022-04-27 03:00:00  38289.1  38409.9  38240.1  38398.2   6225.568
3    2022-04-27 04:00:00  38398.1  38460.8  38300.0  38324.9   7182.327
4    2022-04-27 05:00:00  38324.8  38440.0  38282.2  38386.1   4816.644
..                   ...      ...      ...      ...      ...        ...
691  2022-04-30 20:00:00  38325.2  38488.8  38287.0  38447.7   5550.196
692  2022-04-30 21:00:00  38447.8  38447.8  38257.4  38313.4   3983.884
693  2022-04-30 22:00:00  38313.4  38360.0  38232.1  38284.4   3583.926
694  2022-04-30 23:00:00  38284.3  38350.0  38135.0  38234.7   8249.713
695  2022-05-01 00:00:00  38234.8  38259.7  37550.0  37614.5  36665.248

[4344 rows x 6 columns]

In [94]:
merge_data['Open time']=pd.to_datetime(merge_data['Open time'])
merge_data.set_index('Open time',inplace=True)
merge_data.rename_axis('datetime',inplace=True)

In [95]:
new_data=pd.concat([merge_data, sub_trends, tweets, tweets_volume, reddit],axis=1)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [77]:
new_data=new_data[:-1]

In [78]:
new_data.drop(columns=['Bitcoin trend'],inplace=True)

In [79]:
tweets_volume

                     tweet_volume
datetime
2022-01-01 00:00:00          1314
2022-01-01 01:00:00          1064
2022-01-01 02:00:00           986
2022-01-01 03:00:00           942
2022-01-01 04:00:00           832
...                           ...
2022-06-30 19:00:00          2032
2022-06-30 20:00:00          2225
2022-06-30 21:00:00          2159
2022-06-30 22:00:00          1948
2022-06-30 23:00:00          1803

[4318 rows x 1 columns]

In [80]:
new_data_drop=new_data.dropna()
new_data_drop

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, google_trends, tw_compound, tw_polarity, tw_subjectivity, tweet_volume, datetime.1, re_compound, re_polarity, re_subjectivity]
Index: []

In [ ]:
new_data_drop.to_csv('./../data/processed_data.csv')

## Check the NAN values

In [ ]:
rows_with_na=new_data[new_data.isna().any(axis=1)]

In [ ]:
# use the previdous row's data to fill the nan value
new_data_filled= new_data.fillna(method='ffill')

In [ ]:
new_data_filled.to_csv('./data/processed_data2.csv')

In [ ]:
new_data_filled